@page "/"
@using TorrentWEB.Core.Parse
@using TorrentWEB.Core.Sites
@using AutoMapper
@inject Blazored.SessionStorage.ISessionStorageService _storageService
@inject HtmlLoader _loader
 @inject IMapper _mapper
 
<h1>Hello, world!</h1>

Welcome to your new app.
<h1>@answer</h1>
<SurveyPrompt Title="How is Blazor working for you?"/>

@code
{
    string answer = null;
    Kinozavl _kinozavl=new Kinozavl();
    protected override void OnAfterRender(bool firstRender)
    { 
        var map = _mapper.Map<UsualSetting>(_kinozavl);
        answer = _loader.GetHtmlByPage(map).Result;
       StateHasChanged();
        base.OnAfterRender(firstRender);
    }
}
